header, footer {
      background-color: #b1c054;
      padding: 20px;
      text-align: center;
    }
body {
    margin: 0;
    padding: 0;
}

.one-system-title {
    display: flex;
    justify-content: center;
    color: #333;
    margin: 20px 0;
    padding-right: 70%;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 70%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.hero-section {
    background-color: #b6e4db;
    padding: 20px;
    text-align: center;
}

.about-section {
    background-color: #d7c2c2;
    padding: 20px;
    text-align: center;
}

.portfolio-section {
    background-color: #cad7b2;
    padding: 20px;
    text-align: center;
}

.contact-section {
    background-color: #abc778;
    padding: 20px;
    text-align: center;
}